<style>
    
           
    @media only screen and (min-width:768px){

    
    .responsive-top-padding{padding-top:16% !important;}
    .responsive-padding{padding-top:6% !important;}

}

@media only screen and (max-width:768px){

    .responsive-top-padding{padding-top:20% !important;}
     .responsive-padding{padding-top:5% !important;}
}

.md-title {
    color:gray !important;
    font-family: 'Open Sans', sans-serif;
}

.gray{
    color:gray !important;
}


@media only screen and (max-width:500px){
    
    
  .row {
    padding-left:15px;
    padding-right:1px;
    }

     
}

@media only screen and (min-width:500px){
    
   .row {
    padding-left:50px;
    padding-right:50px;
    }
}


</style>


<div style="background: #fff !important;height:100%;width:100%;" >
  
    
             <div class="row " style="text-align: center !important;padding-bottom: 0px;margin: 0px !important;text-align:left;height: 100%;overflow: hidden;font-family: 'Roboto', serif; background-position: center !important; background: url('assets/media/coffee.jpg'), #009688; background: url('assets/media/coffee.jpg'), -webkit-linear-gradient(to left, #673AB7, #3F51B5); /* Chrome 10-25, Safari 5.1-6 */background: url('assets/media/coffee.jpg'), linear-gradient(to left, #673AB7, #3F51B5);width:100%;">
            
             <div class="responsive-top-padding" ng-show="true">
                 <p class='white' style="margin: 0px !important;font-size: 35px !important;line-height: 40px;font-weight: 700;">Welcome</p>
                <br>
                <p class='white' style='font-size:18px;line-height:28px;font-family: 'Roboto Slab', sans-serif !important;'> 
                   Hello World! this is my personal bio
                </p>
                <br>
                
                 <md-button class="md-raised md-primary round" aria-label="Learn More" style="padding-top:8px !important;padding-bottom:8px !important;padding-left: 50px !important; padding-right: 50px !important;border-radius: 90px;">
           &nbsp;&nbsp; Post something on my wall !- &nbsp;&nbsp;
          </md-button>

              </div>  

            </div>
    
    
        <div class="row " style="background-color:#fff !important;padding-bottom: 10px;margin: 0px !important;min-height: 100%;overflow: hidden;text-align: center;font-family: 'Roboto', serif;width:100%;">
            
             <div layout="column" class="responsive-padding">
                 
                 <div style="">
                     <br>
                     <p style="margin: 0px !important;" class="md-display-2 decorated"> <span> Saboor Salaam </span></p>
                       <p class="md-title"> 
                           Entrepreneur. Software Developer. 
                       </p>
                       <br>
                 </div>
                 
                 <div>
                     
                     <img src="assets/media/profile.jpg" alt="" class="largecircleimage"/>
                     
                 </div>
                 
                 <p style="padding-left:30%;padding-right:30%;" class="gray"> 
                 <big> I build clean, well tested, and attractive mobile and web applications. </big>
                 <br>
                 <br>
                 Right now I am on a few startup teams. I'm also looking to get into some STEM mentorship programs. 
                 <br>
                 <br>
                 <b>Most importantly, I do reasonably priced consulting work. Anything from web design to app development to integrating software into your small business.</b>
                 <br>
                 <br>
             </p>
                 
              </div>  

      </div>
    
          <div class="row " style="background-color:#fff !important;padding-bottom: 10px;margin: 0px !important;overflow: hidden;text-align: center;font-family: 'Roboto', serif;width:100%;">
            
             <div>
                 
                 <div style="">
                     <br>
                     <p style="margin: 0px !important;" class="md-display-2 decorated"> <span> My Work </span></p>
                       <p class="md-title"> 
                           I take pride in creating beautiful and functional software that makes our everyday lives easier.  
                       </p>
                       <br>
                 </div>
                 
                 <div layout-gt-sm="row" layout="column" layout-align="start none">
                     
                      <div flex="60" flex-order-gt-sm="-1" flex-order="1">
                <img class='grid-image' src="assets/media/watch.png" uib-tooltip=""/>
		<img class='grid-image' src="assets/media/article.png" />
                <img class='grid-image' src="assets/media/yt.png" />
                    </div>
                     
                     <p style="text-align: left;"> 
                         
                         <span class="md-display-1">Veed</span> 
                         <br>
                         <br>
                         <span class="md-title" style="color:green !important;"> Lead Android Developer (2014)</span>
                         <br>
                         <br>
                         
                            <span style="line-height:1.5;" class="gray"> Basically throughout the day, Veed curates video news from your favorite sources. Choose from carefully curated channels to control what appears on your Veed. Choose how news is presented to by selecting preferred layouts and themes. Also you can search our database of thousands of videos and article.
                            </span>
                    </p> 
                
                 </div>
 
 
         </div>  

      </div>
    
    
    
    <div class="row " style="background-color:#fff !important;padding-bottom: 10px;margin: 0px !important;overflow: hidden;text-align: center;font-family: 'Roboto', serif;width:100%;">
            
             <div>
               
                 
                 <div layout-gt-sm="row" layout="column" layout-align="start none">
                     
                      <div flex="60" flex-order-gt-sm="-1" flex-order="1">
                <img class='grid-image' src="assets/media/watch.png" uib-tooltip=""/>
		<img class='grid-image' src="assets/media/article.png" />
                <img class='grid-image' src="assets/media/yt.png" />
                    </div>
                     
                     <p style="text-align: left;" flex="40"> 
                         
                         <span class="md-display-1">Verse.app</span> 
                         <br>
                         <br>
                         <span class="md-title" style="color:green !important;"> Lead Android Developer (2014)</span>
                         <br>
                         <br>
                         
                            <span style="line-height:1.5;" class="gray">  A smart tool for transcribing and memorizing poetry line by line. Back up all your recording to Google Drive for safe keeping.
                            </span>
                    </p> 
                
                 </div>
 
 
         </div>  

      </div>

    
</div>

